body {
    background-color: #f8f8f8;
}

/*GLobal styles*/

/*Index Style*/
.header-bar {
    /*font-weight: 100;*/
    width: 100%;
    height: 100px;
    /*height: max-content;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #0683c9;*/
    background-color: #A9A9A9;
}

.header-title {
    display: inline-block;
    height: 150px;
    /*float: none;*/
    color: white;
    font-weight: bold;
    text-align: center;
}

.hidden {
    display:none
}

/* Upload box */
.image-upload-box {
  font-size: 0.8rem;
  color: #666666;
  cursor: pointer;
  width: 16rem;
  height: 10rem;
  background: #fff;
  border: 0.1rem dashed #838388;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 0 2rem 0;
}

.image-upload-box #preview {
  max-width: 14rem;
  max-height: 8rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
